body {
    text-align: center;
}

.player{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#game{
    float:left;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    display: block;

}

.area{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: 3px solid green;
    border-radius: 10px;
    position: absolute;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Verdana';
    cursor: pointer;
    color: black;
    background-color: greenyellow;
    transition: all 0.5s;
}

.form-block{
    text-align:left;
    margin-left: 50px;
}

.timer{
    margin-bottom: 15px;
    color: green;
    background-color: white;
    border: none;
    font-size: 25px;
    font-family: Verdana;
}

#press{
    border: 1px solid green;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}